@media screen and (min-width: 960px ) and (max-width: 1169px){
	.container{
		max-width:  940px;
	}
	/* ====header========================== */
	.header{
		&__logo{
		margin-left: 30px;
		
		}

		&__link{
			padding: 24px 13px 22px;
		}

		.first{
		padding-left: 41px;
		padding-right: 38px;
		
		}
	}

@media screen and (min-width: 744px) and (max-width: 959px){
	.container{
		max-width:  745px;
	}

	/* ====header========================== */
	.header{
		&__logo{
		margin-left: 10px;
		margin-top: 8px;
		}

		&__link{
			padding: 24px 13px 22px;
		}

		.first{
			padding-left: 18px;
			padding-right: 27px;
		}

		&__logo{
		position: static;
		width: auto;
			img{
				position: static;
			}
		}
	}
	
	/* ====remake-main==== */
	.main-remaik{
		.main-content{
			h4{
				margin-bottom: 15px;
			}
			ul{
				li{
					&:nth-child(odd){
						p{
							padding-right: 75px;
						}
					}
					&:nth-child(even){
						.cont-serv{
							padding-left: 75px;
						}
					}
				}
			}
		}
	}
	/* ====main-webmobdev==== */
	.main-webmobdev{
		.container{
			h4{
				padding: 0 0 15px;
    		text-align: center;
			}
		}
	}
	/* ====footer==== */
	.footer{
		.foot-info{
			-webkit-justify-content: space-around;
			justify-content: space-around;
			margin: 50px 0 35px;
				.foot-left{
					li{
						margin: 30px 0;
							&:last-child{
								display: block;
							}
					}
				}
				.foot-center{
					display: none;
				}
		}
	}
}
}
@media screen and (max-width: 743px){
	
	header, main{
		.container{
			max-width:  320px;
		}
	}
	.border-main-top-blue, .border-main-top-yellow{
		border-width: 7px;
	}

	.border-main-bot{
		border: none;
	}
	.btn{
		margin: auto;
	}
	.main-h4{
		font-size: 18px;
		margin: 15px 0 20px;
	}
	.main-p{
		font-size: 14px;
	}
	.pad-l-r-100{
		padding: 0;
	}
	.pad-t-b-50{
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.pad-t-50{
		padding-top: 35px;
	}
	.pad-b-50{
		padding-bottom: 35px;
	}


	/* ====header==== */
	header{
		position: fixed;

		.mob-nav{
			display: none;
			background: rgba(255, 255, 255, 0.5);
			//position: absolute;
			left: 0;
			top: 50px;
			-webkit-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.3),  inset 0px 6px 10px -2px rgba(0,0,0,0.13);
			-moz-box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.3),  inset 0px 6px 10px -2px rgba(0,0,0,0.13);
			box-shadow: 0px 6px 5px -2px rgba(0,0,0,0.3),  inset 0px 6px 10px -2px rgba(0,0,0,0.13);
			&__body{
				padding: 0 40px;
			}

			&__link{
				padding: 19px 0;
				display: block;
				color: #1d1e1d;
				border-top: 1px solid #acacac;
				font-size: 14px;
				&--first{
					border: none;
					position: relative;
					&:before{
						position: absolute;
						content: "";
						width: 6px;
						height: 11px;
						background-image: url(../img/mob-serv-icon.png);
						top: 23px;
    					right: -22px;

					}
				}
				
			}
		}
	}
	
	

	.header{
		&__logo{
			margin-top: 4px;
			margin-left: 15px;
			img{
				position: static;
			}
		
		}
	}
	
	.header__nav{
		display: none;
	}
	.burger{
		display: none;
		margin: 18px 20px ;
	}
	.burger__item{
		display: block;
	}


	/* ====remake-main==== */
	.main-remaik{
		.main-top{
			.info{
				top: 22vw;
					h4{
						font-size: 18px;
						text-align: center;
					}
					p{
						font-size: 14px;
						max-width: 100%;
					}
			}
			.slider{
				display: none;
			}
			#bx-pager{
				display: none;
			}
			.border-main-top-blue-320{
				display: block;
			}
		}
		.main-content{
			h4{
				font-size: 18px;
			}
			ul{
				display: block;
				li{
					padding-bottom: 36px;
					&:nth-child(odd){
						border-right: none;
						p{
							padding-right: 0;
						}
					}
					&:nth-child(even){
						.cont-serv{
							padding-left: 0;
						}
					}
					.cont-serv{
						border-top: 1px solid #b7b7b7;
						margin-top: 0;
							>p{
								img{
									width: 60%;
								}
							}
							.serv-info{
								h5{
									font-size: 18px;
									height: 40px;
								}
								p{
									min-height: 170px;
								}
							}
					}
				}
			}
		}
	}
	.nav-main-320{
		display: block;
	}
	/* ====main-careers==== */
	.main-careers{
    // padding-bottom: 25vw;
			.careers-cont{
				display: block;
			}
	}
	/* ====main-webmobdev, .main-dedic==== */
	.main-webmobdev, .main-dedic, .main-softare{
		// padding-bottom: 25vw;
			.container{
				.webmobdev-cont, .dedic-cont, .softare-cont{
					// padding: 0;
						ul{
							.main-p{
								img{
									margin-right: 15px;
								}
							}
						}
				}
			}
	}
	/* ====footer==== */
	.footer{
		.foot-info{
			margin: 0 0 15px;
				.foot-left, .fu, em, .foot-center{
					display: none;
				}
				.foot-right{
					li{
						&:first-child{
							display: none;
						}
						&:last-child{
							-webkit-justify-content: center;
							justify-content: center;
						}
					}
					.foot-contact{
						display: flex;
						width: 100%;
						margin-top: 0;
							.foot-contact-item{
								display: flex;
								height: 49px;
								width: 50vw;
									&:first-child{
										background: #FFA82D;
											a{
												width: 100%;
												i{
													margin: auto;
													width: 26px;
													height: 22px;
													background: url("../img/mail-320.png")no-repeat;
													background-size: cover;
												}
											}
									}
									&:last-child{
										background: #006db3;
											a{
												width: 100%;
												i{
													margin: auto;
													width: 22px;
													height: 22px;
													background: url("../img/telephone-handle-silhouette-320.svg")no-repeat;
													background-size: cover;
												}
											}
									}
									a{
										margin: auto;
											img{
												margin-right: 0;
											}
									}
							}
					}
				}
		}
	}
}