
*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{font: 400 18px 'OpenSansRegular', sans-serif}
.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}

.df{
	display: flex;
	position: relative;
}
.mauto{
	margin: auto;
}
h4{
	font-family: 'OpenSansBold';
}
.border-main-top-blue{
	border-bottom: 27px solid #125dbb;
}
.border-main-top-yellow{
	border-bottom: 27px solid #ffa82d;
	width: 100%;
}
.border-main-bot{
	border-bottom: 4px solid #ffa82c;
}
.btn{
	text-transform: uppercase;
	border: 2px solid #006cb2;
	background: #fff;
	padding: 16px 50px;
	color: #006CB2;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	top: 16px;
		&:hover{
			background: #FFA82D;
			border: 2px solid #FFA82D;
			color: #FFF;
		}
}
.main-p{
	color: #3F3F3F;
	font-size: 18px;
	line-height: 1.7;
}
.pad-t-b-50{
	padding-top: 50px;
	padding-bottom: 50px;
}
.pad-l-r-100{
	padding-left: 100px;
	padding-right: 100px;
}
.pad-t-50{
	padding-top: 50px;
}
.pad-b-50{
	padding-bottom: 50px;
}
.main-h4{
		color: #3F3F3F;
		font-size: 30px;
		padding: 0 0 15px 50px;
		margin: 50px 0 100px;
		text-transform: uppercase;
		border-bottom: 1px solid #afafaf;
}
/* ========header========= */

header{
	width: 100%;
	background-color: rgba(247, 250, 252, 0.9);
	position: absolute;
	top: 0;
	z-index: 2;   
		.mob-nav{
			display: none;
		} 
}

.header{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	
	&__logo{
		position: relative;
		margin-left: 45px;
		width: 276px;
		img{
			position: absolute;
			z-index: 4;
		}
	}

	&__nav{
		display: flex;
		display: -webkit-flex;
		justify-content: space-between;
		padding: 24px 0 22px;
	}

	&__link{
		padding: 24px 24px 22px 24px;
		color: #1d1e1d;
		font-family: 'MyriadProRegular';

		&:hover{
			color: #006cb2;
			box-shadow: 0px 0px 22px -4px #9b9b9b inset;

				
		}
	}

	.first{
		padding-left: 44px;
		padding-right: 49px;
		span{
				position: relative;
				&:before{
					content:"";
					position: absolute;
					width: 10px;
					height: 6px;
					background-image: url("../img/menu-icon.png");
					right: -18px;
					top:10px;

				}
			}
		&:hover{
			span:before{	
				background-image: url("../img/menu-hov-icon.png");		
			}
		}	
	}
}

.drop-menu{
	position: absolute;
	top: 50px;
	left: -9999px;
	background-color: #ffffff;
	padding: 6px 15px;
	width: 246px;
	transition-delay: .3s;
}

.drop-menu__item{

	padding: 10px 0;
	font-size: 14px;

	a{
		color: #1d1e1d;

		&:hover{
			color: #006cb2;
		}
	}

}

.nav__services{
	position: relative;
	&:hover .drop-menu{
		left: 0;
	}	
}

.burger{
	display: none;
}

.burger__item{
	display: none;
	position: relative;
	overflow: hidden;
	width: 25px;
	height: 18px;
	font-size: 0;
	text-indent: -9999px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	background: none;
	&:focus{
		outline: none;
	}
	span {
		display: block;
		position: absolute;
		top: 8px;
		left: 0px;
		right: 0px;
		height: 2px;
		background: #2f77d2;

		&::before{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #2f77d2;
			content: "";
			top: -6px;
			transition: .3s;
		}
		&::after{
			position: absolute;
			display: block;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #2f77d2;
			content: "";
			top: 6px;
			transition: .3s;
		}
	}
}

.burger__item--active{
	span{
			height: 0;
			&::before{
				transform: rotate(45deg);
				top: 0;
			}
			&::after{
				transform: rotate(-45deg);
				top: 0;
			}
		}
}


.serv-menu{
	
	display: none;
	&__list{
		padding: 0 40px;
		li{	
			position: relative;
			padding: 20px 0;
			&:not(:first-of-type){border-top: 1px solid #acacac;}
			&:before{
					position: absolute;
					content: "";
					width: 6px;
					height: 11px;
					background-image: url(../img/mob-serv-icon.png);
					top: 27px;
    				right: -22px;
				}
		}
	}

	&__link{
		font-size: 14px;
		color: #1d1e1d;	

	}

	&__title{
		
		text-align: center;
		text-transform: uppercase;
		padding: 15px 0;
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.14);
		-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.14);
		box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.14);
		a{	
			position: relative;
			color: #1d1e1d;
			&:before{
				content: "";
				position: absolute;
				width: 11px;
				height: 17px;
				top: 5px;
				left: -59px;
				background-image: url(../img/big-service-icon.png);
			}
			&:hover{
				color: #006cb2;
			}
		}	


	}
}




/* ========main-remaik========= */
.main-remaik{
	background: url("../img/remake-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 18vw;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	.main-top{
		.info{
			position: absolute;
			z-index: 1;
			top: 12vw;
			left: 0;
				h4{
					font-size: 36px;
					color: #fff;
					text-shadow: 1.2px 1.3px 2px black;
					text-transform: uppercase;
				}
				p{
					font-size: 18px;
					color: #125DBB;
					max-width: 510px;
					padding: 13px;
					background: rgba(255, 255, 255, .5);
				}
		}
		.bxslider{
			li{
				img{
					width: 100%;
				}
			}
		}
		.bx-controls{
			display: none;
		}
		.border-main-top-blue-320{
			display: none;
			border-bottom: 7px solid #125dbb;
			width: 100%;
		}
		#bx-pager{
			text-align: center;
			position: relative;
			top: -72px;
				a{
					img{
						border: 2px solid #fff;
					}
				}
				.active img{
					border: 2px solid #FBB03F;
				}
		}
	}

	.main-content{
		h4{
			color: #3F3F3F;
			font-size: 30px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		ul{
			li{
				padding-bottom: 56px;
				max-width: 565px;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				&:nth-child(odd){
					border-right: 1px solid #ebebeb;
						p{
							padding-right: 125px;
						}
				}
				&:nth-child(even){
					.cont-serv{
						padding-left: 125px;
					}
				}
				.cont-serv{
					position: relative;
					margin-top: 30px;
					border-top: 2px solid #ebebeb;
					>p{
						min-height: 285px;
							img{
								width: 39.4%;
							}
					}
					.serv-info{
						padding-left: 20px;
						h5{
							color: #3F3F3F;
							font: 24px "OpenSansBold";
							text-transform: uppercase;
							margin-bottom: 30px;
							height: 60px;
						}
						p{
							min-height: 225px;
						}
					}
				}
			}
		}
	}
}
.nav-main-320{
	display: none;
	position: relative;
	border-bottom: 4px solid #ffa82d;
	.nav-main-320-item{
		li{
			height: 50px;
			display: flex;
			border-top: 1px solid #B7B7B7;
				&:first-child{
					border-top: none;
				}
				a{
					color: #3F3F3F;
					display: flex;
					text-transform: uppercase;
					font-size: 16px;
					padding-left: 20px;
					width: 100%;
					height: 100%;
					font-weight: 700;
					position: relative;
						span{
							margin: auto 0;
						}
				}
				.arrow-our-serv{
					display: flex;
					-webkit-justify-content: space-between;
					justify-content: space-between;
					    img{
					    	margin-right: 25px;
					    	-webkit-transform: rotate(-90deg);
					    	-moz-transform: rotate(-90deg);
					    	-ms-transform: rotate(-90deg);
					    	-o-transform: rotate(-90deg);
					    	transform: rotate(-90deg);
					    }
				}
		}
	}
	.our-serv{
		display: none;
    position: absolute;
    z-index: 2;
  	// top: calc(0% + 50px);
  	bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #acacac;
    background: rgba(255, 255, 255, .9);
			.our-serv-h{
				background: #FFF;
				box-shadow: 0 0px 6px 2px #cac;
				.container{
					height: 50px;
						a{
							position: relative;
							height: 100%;
							width: 100%;
							display: flex;
								span{
									margin: auto;
								}
								&:after{
									content: url("../img/left-arrow-key.svg");
									position: absolute;
									top: 10px;
									left: -10px;
									-webkit-transform: scale(2);
									-moz-transform: scale(2);
									-ms-transform: scale(2);
									-o-transform: scale(2);
									transform: scale(2);
								}
						}
				}
			}
    	.container{
    		max-width: 245px;
					ul{
						li{
							height: 50px;
							border-top: 1px solid #acacac;
							a{
								color: #1D1E1D;
								font-size: 14px;
								font-weight: 700;
								text-transform: capitalize;
								width: 100%;
								height: 100%;
								display: flex;
								position: relative;
									&:after{
										content: url("../img/left-arrow-key.svg");
										position: absolute;
										top: 15px;
										right: -15px;
										-webkit-transform: scale(1.2) rotate(-180deg);
										-moz-transform: scale(1.2) rotate(-180deg);
										-ms-transform: scale(1.2) rotate(-180deg);
										-o-transform: scale(1.2) rotate(-180deg);
										transform: scale(1.2) rotate(-180deg);
									}
									span{
										margin: auto 0;
									}
							}
						}
					}
    	}
	}
}
/* ========main-careers========= */
.main-careers{
	background: url("../img/careers-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 25vw;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
		.careers-cont{
			-webkit-justify-content: space-around;
			justify-content: space-around;
			a{
				font-weight: 700;
				&:hover{
					color: #083DAA;
				}
			}
		}
}
/* ========main-webmobdev========= */
.main-webmobdev{
	background: url("../img/webmobdev-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 30vw;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	ul{
		li{
			&:first-child{
				font-family: "OpenSansBold";
			}
			img{
				margin-right: 15px;
			}
		}
	}
}
/* ========main-dedic========= */
.main-dedic{
	background: url("../img/dedicated-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 20vw;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
		ul{
			li{
				&:first-child{
					text-transform: uppercase;
				}
				img{
					margin-right: 15px;
				}
			}
		}
}
/* ========main-softare========= */
.main-softare{
	background: url("../img/softare-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 20vw;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
		h5{
			text-transform: uppercase;
			font-family: "OpenSansSemiBold";
		}
		ul{
			li{
				&:first-child{
					font-family: "OpenSansBold";
				}
				img{
					margin-right: 15px;
				}
			}
		}
}

/* ========aboutus========= */
.main-aboutus{
	background: url("../img/aboutus-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 20vw;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	
}

.right-img{
	display: none;
	float: right;
}

.crist-photo{
	position: relative;
	
	&__item{
		border: 3px solid #fff;
		position: absolute;
		right: 140px;
		top: -189px;
		width: 16.75%;
		max-width: 200px;
		img{
			width: 100%;
			height: auto;
		}
	}
}

/* ========footer========= */
.footer{
	.foot-info{
		margin: 45px 0 65px;
		-webkit-justify-content: space-between;
		justify-content: space-between;
			ul{
				li{
					&:first-child{
						margin-bottom: 30px;
						margin-top: 0;
					}
					span, a{
						color: #3F3F3F;
						font-size: 16px;
						font-weight: 700;
					}
					span{
						text-transform: uppercase;
					}
					a:hover{
						color: #125DBB;
						span{
							color: #125DBB;
						}
					}
					img{
						margin-right: 15px;
					}
				}
			}
			.foot-left{
				li{
					margin: 15px 0;
						&:last-child{
							display: none;
						}
				}
			}
			.foot-center{
				li{
					margin: 7px 0;
				}
			}
			.foot-right{
				em{
					font-style: inherit;
				}
				li{
					margin: 7px 0;
				}
				.foot-contact{
					p:first-child{
						a{
							i{
								width: 17px;
								height: 14px;
								margin: auto 15px auto 0;
								display: -webkit-flex;
								display: -moz-flex;
								display: -ms-flex;
								display: -o-flex;
								display: flex;
								background: url("../img/mail.png")no-repeat;
								-webkit-background-size: cover;
								-o-background-size: cover;
								background-size: cover;
							}
						}
					}
					p:last-child{
						a{
							i{
								width: 13px;
								height: 14px;
								margin: auto 15px auto 0;
								display: -webkit-flex;
								display: -moz-flex;
								display: -ms-flex;
								display: -o-flex;
								display: flex;
								background: url("../img/telephone-handle-silhouette.svg")no-repeat;
								-webkit-background-size: cover;
								-o-background-size: cover;
								background-size: cover;
							}
						}
					}
				}
				.fu{
					margin: 30px 0;
				}
				.fc, .in{
					margin-top: 10px;
					width: 39px;
					height: 39px;
					-webkit-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				}
				.fc{
					background: url('../img/facebook-app-logo.svg')no-repeat;
					margin-right: 12px;
				}
				.in{
					background: url('../img/linkedin-logo.svg')no-repeat;
				}
			}
	}
	.foot-bot{
		background: #125DBB;
		padding: 10px 0;
		span{
			color: #FFF;
			font-size: 14px;
			margin: 0 35px 0 0;
				&:first-child{
					margin-left: 20px;
				}
		}
	}
}