
*{padding: 0; margin: 0; outline: none}
ul{list-style-type: none}
a{text-decoration: none; -webkit-transition: .35s;
-moz-transition: .35s;
-ms-transition: .35s;
-o-transition: .35s;
transition: .35s;}
button{
	-webkit-transition: .35s;
	-moz-transition: .35s;
	-ms-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

html, body{font: 400 18px 'OpenSansRegular', sans-serif}
.container{
	width: 100%;
	max-width:  1170px;
	margin: 0 auto;
	position: relative;
	&:after{
			content: "";
			clear: both;
			display: block;
		}
}

.df{
	display: flex;
	position: relative;
}
.mauto{
	margin: auto;
}
h4{
	font-family: 'OpenSansBold';
}
.border-main-top-blue{
	border-bottom: 27px solid #125dbb;
}
.border-main-top-yellow{
	border-bottom: 27px solid #ffa82d;
	width: 100%;
}
.border-main-bot{
	border-bottom: 4px solid #ffa82c;
}
.btn{
	text-transform: uppercase;
	border: 2px solid #006cb2;
	background: #fff;
	padding: 16px 50px;
	color: #006CB2;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	position: relative;
	top: 16px;
		&:hover{
			background: #FFA82D;
			border: 2px solid #FFA82D;
			color: #FFF;
		}
}
.main-p{
	color: #3F3F3F;
	font-size: 18px;
	line-height: 1.7;
}
.main-h4{
		color: #3F3F3F;
		font-size: 30px;
		padding: 0 0 15px 50px;
		margin: 50px 0 100px;
		text-transform: uppercase;
		border-bottom: 1px solid #afafaf;
}
/* ========header========= */
header{
	width: 100%;
	background-color: rgba(255, 255, 255, 0.4);
}

.header{
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

/* ========main-remaik========= */
.main-remaik{
	background: url("../img/remake-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 165px;
	.main-top{
		.info{
			position: absolute;
			z-index: 1;
			top: 12vw;
			left: 0;
				h4{
					font-size: 36px;
					color: #fff;
					text-shadow: 1.2px 1.3px 2px black;
					text-transform: uppercase;
				}
				p{
					font-size: 18px;
					color: #125DBB;
					max-width: 510px;
					padding: 13px;
					background: rgba(255, 255, 255, .5);
				}
		}
		.bxslider{
			li{
				img{
					width: 100%;
				}
			}
		}
		.bx-controls{
			display: none;
		}
		#bx-pager{
			text-align: center;
			position: relative;
			top: -72px;
				a{
					img{
						border: 2px solid #fff;
					}
				}
				.active img{
					border: 2px solid #FBB03F;
				}
		}
	}
	.main-content{
		h4{
			color: #3F3F3F;
			font-size: 30px;
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 25px;
		}
		ul{
			li{
				padding-bottom: 56px;
				max-width: 565px;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				&:nth-child(odd){
					border-right: 1px solid #ebebeb;
						p{
							padding-right: 125px;
						}
				}
				&:nth-child(even){
					.cont-serv{
						padding-left: 125px;
					}
				}
				.cont-serv{
					position: relative;
					margin-top: 30px;
					border-top: 2px solid #ebebeb;
					>p{
						min-height: 285px;
							img{
								width: 39.4%;
							}
					}
					.serv-info{
						padding-left: 20px;
						h5{
							color: #3F3F3F;
							font: 24px "OpenSansBold";
							text-transform: uppercase;
							margin-bottom: 30px;
							height: 60px;
						}
						p{
							min-height: 225px;
						}
					}
				}
			}
		}
	}
}
/* ========main-careers========= */
.main-careers{
	background: url("../img/careers-bot.png")no-repeat;
	background-position: bottom;
	padding-bottom: 290px;
		.careers-cont{
			-webkit-justify-content: space-around;
			justify-content: space-around;
			a{
				font-weight: 700;
				&:hover{
					color: #083DAA;
				}
			}
		}
}

/* ========footer========= */
.footer{
	.foot-info{
		margin: 45px 0 65px;
		-webkit-justify-content: space-between;
		justify-content: space-between;
			ul{
				li{
					&:first-child{
						margin-bottom: 30px;
						margin-top: 0;
					}
					span, a{
						color: #3F3F3F;
						font-size: 16px;
					}
					span{
						text-transform: uppercase;
					}
					a:hover{
						color: #125DBB;
						span{
							color: #125DBB;
						}
					}
					img{
						margin-right: 15px;
					}
				}
			}
			.foot-left{
				li{
					margin: 15px 0;
				}
			}
			.foot-center{
				li{
					margin: 7px 0;
				}
			}
			.foot-right{
				li{
					margin: 7px 0;
				}
				.fu{
					margin: 30px 0;
				}
				.fc, .in{
					margin-top: 10px;
					width: 39px;
					height: 39px;
					-webkit-background-size: cover;
					-o-background-size: cover;
					background-size: cover;
				}
				.fc{
					background: url('../img/facebook-app-logo.svg')no-repeat;
					margin-right: 12px;
				}
				.in{
					background: url('../img/linkedin-logo.svg')no-repeat;
				}
			}
	}
	.foot-bot{
		background: #125DBB;
		padding: 10px 0;
		span{
			color: #FFF;
			font-size: 14px;
			margin-right: 35px;
		}
	}
}